 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }

    body {
      height: 100vh;
      background: linear-gradient(135deg, #6a11cb, #2575fc);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .card {
      width: 450px;
      background: rgba(255, 255, 255, 0.15);
      height: auto;
      padding: 40px 30px;
      border-radius: 20px;
      backdrop-filter: blur(15px);
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
      animation: fadeIn 0.9s ease;
    }

    @keyframes fadeIn {
      from { opacity: 0; transform: translateY(20px);} 
      to { opacity: 1; transform: translateY(0);} 
    }

    h2 {
      text-align: center;
      color: #fff;
      margin-bottom: 25px;
      font-weight: 600;
    }

    .input-box {
      margin-bottom: 20px;
    }

    .input-box label {
      color: #fff;
      font-size: 14px;
      font-weight: 300;
    }

    .input-box input {
      width: 100%;
      padding: 12px;
      margin-top: 6px;
      border-radius: 10px;
      border: none;
      outline: none;
      background: rgba(255, 255, 255, 0.85);
      font-size: 15px;
    }

    .btn {
      width: 100%;
      padding: 12px;
      border: none;
      border-radius: 10px;
      background: #fff;
      color: #2575fc;
      font-weight: 600;
      font-size: 16px;
      cursor: pointer;
      transition: 0.3s;
    }

    .btn:hover {
      background: #e5e5e5;
    }

    .links {
      margin-top: 15px;
      text-align: center;
      margin-top: 30px;
    }

    .links a {
      color: #fff;
      font-size: 14px;
      text-decoration: none;
    }

    .links a:hover {
      text-decoration: underline;
    }

.btn{
    margin-bottom: 15px;
}

.divider {
  margin: 20px 0;
  position: relative;
  color: #fff;
  text-align: center;
}

.divider span {
  background: transparent;
  padding: 0 14px;
}

.divider::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
}

/* ----------- Google Button ----------- */
.custom-google-btn {
  width: 100% !important;
  border-radius: 50px !important;
  display: flex !important;
  justify-content: center !important;
  margin-top: 10px;
}


.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after {
  position: absolute;
  top: 0;
  content: '';
}

.jimu-primary-loading:before {
  left: -19.992px;
}

.jimu-primary-loading:after {
  left: 19.992px;
  -webkit-animation-delay: 0.32s !important;
  animation-delay: 0.32s !important;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after,
.jimu-primary-loading {
  background: #076fe5;
  -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  width: 13.6px;
  height: 32px;
}

.jimu-primary-loading {
  text-indent: -9999em;
  margin: auto;
  position: absolute;
  right: calc(50% - 6.8px);
  top: calc(50% - 16px);
  -webkit-animation-delay: 0.16s !important;
  animation-delay: 0.16s !important;
}

@-webkit-keyframes loading-keys-app-loading {

  0%,
  80%,
  100% {
    opacity: .75;
    box-shadow: 0 0 #076fe5;
    height: 32px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -8px #076fe5;
    height: 40px;
  }
}

@keyframes loading-keys-app-loading {

  0%,
  80%,
  100% {
    opacity: .75;
    box-shadow: 0 0 #076fe5;
    height: 32px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -8px #076fe5;
    height: 40px;
  }
}
.active{
  opacity: 1;
  visibility: visible;
}
